/test_audio
/pretrained_models
/output_transcriptions
/.qodo
/self_trained_models
backend/db.sqlite3
backend/backend/__pycache__/__init__.cpython-312.pyc
backend/backend/__pycache__/settings.cpython-312.pyc
backend/backend/__pycache__/urls.cpython-312.pyc
backend/backend/__pycache__/wsgi.cpython-312.pyc
backend/departments/__pycache__/__init__.cpython-312.pyc
backend/departments/__pycache__/admin.cpython-312.pyc
backend/departments/__pycache__/apps.cpython-312.pyc
backend/departments/__pycache__/models.cpython-312.pyc
backend/departments/migrations/__pycache__/__init__.cpython-312.pyc
backend/employees/__pycache__/__init__.cpython-312.pyc
backend/employees/__pycache__/admin.cpython-312.pyc
backend/employees/__pycache__/apps.cpython-312.pyc
backend/employees/__pycache__/models.cpython-312.pyc
backend/employees/migrations/__pycache__/__init__.cpython-312.pyc
backend/medical_records/__pycache__/__init__.cpython-312.pyc
backend/medical_records/__pycache__/admin.cpython-312.pyc
backend/medical_records/__pycache__/apps.cpython-312.pyc
backend/medical_records/__pycache__/models.cpython-312.pyc
backend/medical_records/migrations/__pycache__/__init__.cpython-312.pyc
backend/patients/__pycache__/__init__.cpython-312.pyc
backend/patients/__pycache__/admin.cpython-312.pyc
backend/patients/__pycache__/apps.cpython-312.pyc
backend/patients/__pycache__/models.cpython-312.pyc
backend/patients/migrations/__pycache__/__init__.cpython-312.pyc
